/* 字體 */
$font-family-base: "Noto Sans TC", sans-serif;
/* 字體粗細 */
$font-weight-s: 400;        
$font-weight-m: 700;
$font-weight-l: 900;

/* 字型大小 */
$font-s: 0.875rem;            
$font-m: 1rem;       
$font-l: 1.25rem;       
$font-xl: 2rem;     
$font-2xl: 3rem;     
$font-3xl: 5rem;   
$font-4xl: 7.5rem;    

/* 行距 */
$line-height-s: 1.2;
$line-height-m: 1.5;